<html lang="en">
{% include 'layouts/head.jinja' %}

<div class="page">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                            {% for step in session['steps'] %}
                            <li class="nav-item" role="presentation">
                                {% if step['index'] == '0' %}
                                <a href="#tabs-step-{{step['index']}}" class="nav-link active" data-bs-toggle="tab"
                                    aria-selected="true" role="tab">{{step['title']}}</a>
                                {% else %}
                                <a href="#tabs-step-{{step['index']}}" class="nav-link" data-bs-toggle="tab"
                                    aria-selected="true" role="tab">{{step['title']}}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {% for step in session['steps'] %}
                            {% if step['index'] == '0' %}
                            <div class="tab-pane fade active show" id="tabs-step-{{step['index']}}" role="tabpanel">
                                {% else %}
                                <div class="tab-pane fade" id="tabs-step-{{step['index']}}" role="tabpanel">
                                    {% endif %}
                                    <div class="">
                                        <div class="card-body">
                                            <h4>URL</h4>
                                            <div>
                                                <pre>{{step['url']}}</pre>
                                            </div>
                                            {% if step.get('request') %}
                                            <h4>Request</h4>
                                            <div>
                                                <pre>{{step['request']}}</pre>
                                            </div>
                                            {% else %}{% endif %}
                                            <h4>Response</h4>
                                            <div>
                                                <pre>{{step['response']}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Libs JS -->
            <!-- Tabler Core -->
            <script src="{{ url_for('static', filename='js/tabler.min.js') }}" defer=""></script>
        </div>


</html>