<html lang="en">
{% include 'layouts/head.jinja' %}

<body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-img"></div>
                <p class="empty-title">{{ error.name }}</p>
                <p class="empty-subtitle text-secondary">
                    {{ error.description }}
                </p>
                <div class="empty-action">
                    <a href="./." class="btn btn-primary">
                        Take me home
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{{ url_for('static', filename='js/tabler.min.js') }}" defer=""></script>

</body>

</html>