<div id="modal-register-credential" class="modal modal-blur fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Credential</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {{ register_credential_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="mb-3">
                        {{ register_credential_form.issuer.label(class='form-label required') }}
                        {{ register_credential_form.issuer(class='form-select') }}
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="mb-3">
                                {{ register_credential_form.name.label(class='form-label') }}
                                {{ register_credential_form.name(class='form-control') }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                {{ register_credential_form.version.label(class='form-label required') }}
                                {{ register_credential_form.version(class='form-control') }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                {{ register_credential_form.type.label(class='form-label required') }}
                                {{ register_credential_form.type(class='form-control') }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                {{ register_credential_form.extra_type.label(class='form-label') }}
                                {{ register_credential_form.extra_type(class='form-select') }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.description.label(class='form-label') }}
                        {{ register_credential_form.description(class='form-control') }}
                    </div>
                </div> 
                <div class="modal-body">
                    <div class="mb-3">
                        {{ register_credential_form.context.label(class='form-label required') }}
                        {{ register_credential_form.context(class='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.oca.label(class='form-label required') }}
                        {{ register_credential_form.oca(class='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.governance.label(class='form-label') }}
                        {{ register_credential_form.governance(class='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.act.label(class='form-label') }}
                        {{ register_credential_form.act(class='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.vocabulary.label(class='form-label') }}
                        {{ register_credential_form.vocabulary(class='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ register_credential_form.schema.label(class='form-label') }}
                        {{ register_credential_form.schema(class='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ register_credential_form.submit(class='btn btn-primary ms-auto')  }}
                </div>
            </form>
        </div>
    </div>
</div>